.state{
	fill: none;
	stroke: #a9a9a9;
	stroke-width: 1;
}
.state:hover{
	fill-opacity:0.5;
}
#tooltip {   
	position: absolute;           
	text-align: center;
	padding: 20px;             
	margin: 20px;
	font: 12px sans-serif;        
	background: lightsteelblue;   
	border: 1px;      
	border-radius: 2px;           
	pointer-events: none;         
}
#tooltip h4{
	margin:0;
	font-size:14px;
}
#tooltip{
	background:rgba(0,0,0,0.9);
	border:1px solid grey;
	border-radius:5px;
	font-size:12px;
	width:auto;
	padding:4px;
	color:white;
	opacity:0;
}
#tooltip table{
	table-layout:fixed;
	color:white;
}
#tooltip tr td{
	padding:2px;
	margin:0px;
}
#tooltip tr td:nth-child(1){
	width:90px;
}
#tooltip tr td:nth-child(2){
	text-align:center;
}
#map {
    width: 960px;
    height:500px;
}
#treeMap {
    min-width: 960px;
    max-width: 960px;
}
tr.spaceUnder > td
{
  padding-bottom: 4em;
}